<nav class="sidebar">
    <div class="sidebar-nav">
        <div class="sidebar-nav-title">
            <span class="fa fa-caret-down"></span>
            <span>实例</span>
            <span class="fa fa-cog"></span>
        </div>
        <ul class="sidebar-items list-unstyled">
            <li>
                <a [routerLink]="['demo/first']">Hello World</a>
            </li>
            <li>
                <a [routerLink]="['demo/binding']">数据绑定</a>
            </li>
            <li>
                <a [routerLink]="['demo/transfer']">DEMO</a>
            </li>
        </ul>

    </div>
</nav>